section {
    background: #EEE;
    color: #222;
    overflow: hidden;
    padding-bottom: 5em;
}

h1 {
    background: #222;
    text-align: center;
    color: #EEE;
    margin: 0;
    padding: 0.5em;
}

article, aside {
    padding: 2em;
    float: left;
    border: 1px solid #222;
}

img {
    max-width: 200px;
    float: left;
}

p {
    float: left;
    margin-left: 2em;
}

a {
    color: red;
}