body {
    background: #EEE;
    color: #222;
    margin: 0;
}

h1 {
    background: #222;
    text-align: center;
    color: #EEE;
    margin: 0;
    padding: 0.5em;
}

section, aside {
    padding: 2em;
    float: left;
}

img {
    max-width: 200px;
    float: left;
}

p {
    float: left;
    margin-left: 2em;
}

a {
    color: red;
}